.profile {
    max-width: 800px;
    /*margin: 0 auto;*/
    padding: 20px;
     border: 1px solid #ccc;
    border-radius: 8px;
    height: auto;
    width: auto;
  }

  .p:hover{
    cursor: pointer;
  }

  .backall{
    background:black;
  }
  
  
  .playerInfo {
    color: white;
    margin-bottom: 20px;
  }
  
  .inventory,
  .equipment {
    color: white;
    margin-top: 20px;
    list-style-type: none;
    z-index: 100;
    width: 60%;
  }

  .equipmentContainer {
      display: flex;
      align-items: flex-start;
    }
    
    
  .equipmentAscii {
      /* Your existing styles */
      margin-right: 60%; /* Adjust as needed */
    }
  
  .inventory img,
  .equipment img {
    max-width: 100%;
    height: auto;
  }

  .itemDetails {
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    list-style-type: none;
  }
  
  .itemDetails h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .itemDetails p {
    color: white;
    margin: 5px 0;
  }
  
  .itemDetails strong {
    color: white;
    font-weight: bold;
  }

  .title{
    color:white;
    text-align: center;
  }